In [35]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import seaborn as sns
from matplotlib import pyplot
from sklearn.naive_bayes import GaussianNB

In [16]:
df_train= pd.read_csv('train.csv')

In [17]:
df_test= pd.read_csv('test.csv')

In [18]:
df_train.head(2)

,Unnamed: 0,Gender_num,Age,Neighbourhood_num,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppointmentDay_num,month,day,No-show_num
0,4094,0,27,68,0,0,0,0,0,0,6,5,3,0
1,48028,0,0,48,0,0,0,0,0,0,2,5,3,0

In [19]:
df_test.head(2)

,Unnamed: 0,Gender_num,Age,Neighbourhood_num,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppointmentDay_num,month,day,No-show_num
0,4773,1,40,60,0,0,0,0,0,1,19,5,24,1
1,42183,1,51,43,0,0,0,0,0,1,9,4,8,0

In [20]:
print(type(df_test))

<class 'pandas.core.frame.DataFrame'>

In [21]:
X_train = df_train[['Gender_num', 'Age', 'Neighbourhood_num', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism','Handcap', 'SMS_received', 'AppointmentDay_num']]
X_test = df_test[['Gender_num', 'Age', 'Neighbourhood_num', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism','Handcap', 'SMS_received', 'AppointmentDay_num']]
y_train = df_train[['No-show_num']]
y_test = df_test[['No-show_num']]

In [22]:
X_train.head()

,Gender_num,Age,Neighbourhood_num,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppointmentDay_num
0,0,27,68,0,0,0,0,0,0,6
1,0,0,48,0,0,0,0,0,0,2
2,1,62,38,0,0,0,0,0,1,1
3,0,85,68,0,1,1,0,0,0,16
4,0,64,2,0,0,0,0,0,1,19

In [23]:
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [24]:
y_train.head()

   No-show_num
0            0
1            0
2            0
3            1
4            0

In [49]:
#model = GaussianNB()
model = DecisionTreeClassifier(max_depth=9)
#model = KNeighborsClassifier(28) #quersto è veramente ottimo, 15 è il numero dei vicini
#model = LinearRegression() #questa non mi funziona e la lasso nemmeno
model.fit(X_train,y_train)
#model.SVC(kernel='linear', C=1).fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=9, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [50]:

p_train=model.predict(X_train)
p_test=model.predict(X_test)
acc_train=accuracy_score(y_train, p_train)
acc_test=accuracy_score(y_test, p_test)

In [51]:
print("acc_train", acc_train)
print("acc_test", acc_test)

acc_train 0.8003619090703461
acc_test 0.7980638740613408

In [52]:
!pip freeze > requirements.txt