In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
import pylab as pl
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import seaborn as sns
from matplotlib import pyplot
#from sklearn.naive_bayes import GaussianNB

In [2]:
df_train= pd.read_csv('train.csv') #leggo il file train.csv

In [3]:
df_test= pd.read_csv('test.csv') #leggo il file train.csv

In [4]:
df_train.head(2)# faccio una stampa di prova

,Unnamed: 0,Gender_num,Age,Neighbourhood_num,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppointmentDay_num,month,day,No-show_num
0,75617,0,0,37,0,0,0,0,0,0,24,6,6,0
1,10016,1,22,13,0,0,0,0,0,1,0,3,1,0

In [5]:
df_test.head(2)

,Unnamed: 0,Gender_num,Age,Neighbourhood_num,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppointmentDay_num,month,day,No-show_num
0,41229,0,58,14,0,1,0,0,0,1,25,5,25,0
1,82852,1,64,38,0,0,0,0,0,1,19,5,10,0

In [6]:
print(type(df_test))

<class 'pandas.core.frame.DataFrame'>

In [7]:
#seleziono le colonne che mi interessano
X_train = df_train[['Gender_num', 'Age', 'Neighbourhood_num', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism','Handcap', 'SMS_received', 'AppointmentDay_num']]
X_test = df_test[['Gender_num', 'Age', 'Neighbourhood_num', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism','Handcap', 'SMS_received', 'AppointmentDay_num']]
y_train = df_train[['No-show_num']]
y_test = df_test[['No-show_num']]

In [8]:
X_train.head()

,Gender_num,Age,Neighbourhood_num,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppointmentDay_num
0,0,0,37,0,0,0,0,0,0,24
1,1,22,13,0,0,0,0,0,1,0
2,0,6,9,0,0,0,0,0,0,2
3,1,8,9,0,0,0,0,0,0,15
4,0,67,64,0,0,0,0,0,0,0

In [9]:
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [10]:
y_train.head()

   No-show_num
0            0
1            0
2            0
3            0
4            0

In [11]:
#ho fatto più di una prova, ho scelto però in decisionClassifierTree
#model = GaussianNB()
model = DecisionTreeClassifier(max_depth=9)
#model = KNeighborsClassifier(28) #quersto è veramente ottimo, 15 è il numero dei vicini
#model = LinearRegression() #questa non mi funziona e la lasso nemmeno
model.fit(X_train,y_train)
#model.SVC(kernel='linear', C=1).fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=9, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [12]:

p_train=model.predict(X_train)
p_test=model.predict(X_test)
acc_train=accuracy_score(y_train, p_train)
acc_test=accuracy_score(y_test, p_test)

In [13]:
#stampo i valori delle metriche che ho scelto di utilizzare per verificare il funzionamento del classificatore
print("acc_train", acc_train)
print("acc_test", acc_test)

acc_train 0.8005127045163236
acc_test 0.7961639373925631

In [14]:
!pip freeze > requirements.txt